


<div class="main">
<ul id="menu" style="text-align: center;display: flex;justify-content:space-around;background-color: lightseagreen;">
	<li class="parent"><a href="#">Home</a>
	</li>
	
	<!--   -------------------------------------------------------------------------   -->
	
	<li class="parent"><a [routerLink]="['/leave-form']">Apply Leave</a>
		<ul class="child">
			<!--<li><a [routerLink]="['/leave-report-user']" ></a></li>-->
		</ul>
	</li>
	
	<!--   -------------------------------------------------------------------------   -->
	
	<li class="parent"><a [routerLink]="['/leave-report-user']">Report<span class="expand"></span></a>
		<ul class="child">
			
		</ul>
	</li>
	<li class="parent"><a [routerLink]="['/rejected-leaves']">Rejected Leaves</a>
	</li>
	
	<!--   -------------------------------------------------------------------------   -->
	
	<li class="parent"><a href="#">LogOut<span class="expand"></span></a>
		
	</li>
	
	<!--   -------------------------------------------------------------------------   -->
	
	<!--<li class="parent"><a href="#">Reset Password</a>
	</li>-->
	
	<!--   -------------------------------------------------------------------------   -->
	
	<!--   -------------------------------------------------------------------------   -->
	
	
	<!--   -------------------------------------------------------------------------   -->
	
	<!--<li class="parent"><a href="#">Equipment</a>
	</li>-->
	
	<!--   -------------------------------------------------------------------------   -->
	
	<li class="parent"><a [routerLink]="['/dashboard']">Dashboard<span class="expand"></span></a>
		<ul class="child">
			
		</ul>
	</li>
	
	<!--   -------------------------------------------------------------------------   -->
	
<!--	<li class="parent"><a href="#">Utility</a>
		<ul class="child">
			<li class="parent"><a href="#">Application <span class="expand">»</span></a>
				<ul class="child">
					<li><a href="#">Area</a></li>
					<li><a href="#">Tools</a></li>
					<li><a href="#">Sphere</a></li>
				</ul>
			</li>
			<li class="parent"><a href="#">Server <span class="expand">»</span></a>
				<ul class="child">
					<li><a href="#">Model</a></li>
					<li><a href="#">CPU</a></li>
					<li><a href="#">Operative S.</a></li>
					<li><a href="#">Host Owner</a></li>
				</ul>
			</li>
			
		</ul>
	</li>-->
	
</ul>
<!--<H2 style="display: flex;justify-content: center;"> Hello....{{uname}}</H2>-->
</div>
<div class="body" >

</div>